[Unit]
Description=<a description of our application>
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/be
ExecStart=/home/ubuntu/.local/bin/gunicorn --workers 3 -b 0.0.0.0:5000 -t 600 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target